@font-face {
  font-family: 'UTM-Micra';
  src: url('.//00134-UTM-Micra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('.//SourceSansPro-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-b';
  src: url('.//SourceSansPro-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
