@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('assets/fonts/font.css');

::-webkit-scrollbar {
  display: none;
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    font-family: 'SourceSansPro', Arial, Helvetica, sans-serif;
  }
}

@layer components {
}

@layer utilities {
  .UTM-Micra {
    font-family: 'UTM-Micra', Arial, Helvetica, sans-serif;
  }

  .SourceSansPro-b {
    font-family: 'SourceSansPro-b', Arial, Helvetica, sans-serif;
  }

  .GOSU {
    font-family: 'UTM-Micra', Arial, Helvetica, sans-serif;
    font-size: clamp(20px, 6vw, 80px);
    color: transparent;
    line-height: 1.1;
    letter-spacing: -6px;
  }

  .GOSUb {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    letter-spacing: -1px;
  }

  @media only screen and (min-width: 1024px) {
    .GOSU {
      font-size: 70px;
      -webkit-text-stroke-width: 1px;
      letter-spacing: -1px;
    }

    .GOSUb {
      letter-spacing: -6px;
    }
  }

  @media only screen and (min-width: 1360px) {
    .GOSU {
      font-size: 86px;
      -webkit-text-stroke-width: 1px;
      letter-spacing: -1px;
    }

    .GOSUb {
      letter-spacing: -6px;
    }
  }

  .GOSUa {
    color: white;
  }

  .container1 {
    @apply mx-auto w-full max-w-[1920px];
  }

  .container2 {
    @apply mx-auto w-[92%] lg:max-w-[1024px] xl:max-w-[1130px];
  }

  .title {
    line-height: 1;
    font-size: clamp(30px, 6vw, 60px);
  }

  .title-about {
    font-size: clamp(25px, 6vw, 34px);
    line-height: 1.2;
  }

  .title-small {
    font-size: clamp(16px, 4vw, 20px);
  }

  @keyframes rollForward {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  @keyframes rollBackward {
    0% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .roll-forward {
    animation: rollForward 1s forwards;
  }

  .roll-backward {
    animation: rollBackward 1s forwards;
  }

  .backface-visibility-hidden {
    backface-visibility: hidden;
  }

  .flip_start {
    transform: rotateY(180deg);
  }

  .flip_back {
    transform: rotateY(0);
  }

  .mark_animatison {
    animation: lacions 2s infinite;
  }

  @keyframes lacions {
    0%,
    100% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(15deg);
    }
  }
}
